<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Latest Movie</title>
    <style>
      body {
        text-align: center;
        font-size: 4em;
      }

      h1, h3 {
        margin: 0;
      }

      h1 small {
        font-size: 0.5em;
      }
    </style>
  </head>
  <body>
   <script src="/socket.io/socket.io.js"></script>
   <script>
      var socket = io.connect('http://localhost');
      socket.on('news', function (data) {
         console.log(data);
         socket.emit('my other event', { my: 'data' });
      });
   </script>
  <!---
    <h1><%= title %><small>(<%= release %>)</small></h1>
    <h3>MPAA Rating: <%= mpaa %></div>
    --!>
  </body>
</html>
