<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OUR MEGA MUDD TEXT ADVENTURE - Rooms</title>
    <link rel="stylesheet" type="text/css" href="/css/admin.css"/>
  </head>
  <body>

    <header>
      <h1>OUR MEGA MUDD TEXT ADVENTURE - Rooms</h1>
    </header>

    <ul>
      <% rooms.forEach(function(room){ %>
        <li><%= room.name %></li>
      <% }) %>
    </ul>
   </script>
  </body>
</html>
