body {
	background: #333;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: #CCC;
	border-radius: 15px;
	padding: 10px;
	max-width: 90%;
	margin: 10px auto 10px auto;
}

section {
	background: #FFF;
	border-radius: 15px;
	margin: 0 auto;
	max-width: 90%;
	padding: 20px;
}
